DB_DOCKER_NAME=tbrs.club.db
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=REPLACE_WITH_MYSQL_ROOT_PASSWORD
MYSQL_DATABASE=tbrs
MYSQL_USER=tbrs
MYSQL_PASSWORD=REPLACE_WITH_MYSQL_PASSWORD
PRISMA_SECRET=REPLACE_WITH_PRISMA_SECRET